{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 3: Alternative Payment Mechanism
{% endblock %}

{% block app_styles %}
     <link rel="stylesheet" href="{{ static 'payment_schemes_exp3/style/style.css' }}">
{% endblock %}

{% block content %}
<script src="{{ static 'payment_schemes_exp3/scripts/toggle_descriptions.js' }}"></script>

<p>
    You will now be asked some questions about an alternative payment mechanism. We will refer to
    this payment mechanism as <b><i>{% if player.piece_rate %}piece rate{% else %}flat rate{% endif %}</i></b> mechanism.
</p>

<p>
    The payment mechanism is applied to the
    exact same task previously outlined, for a reminder of how this task worked, please click the button below.
</p>

<br>
<input type="hidden" name="show_description_transition" id="show_description_transition">

<button id="btn-toggle-description" class="btn btn-secondary" type="button"
        onclick="toggleDescription('div-description', 'btn-toggle-description', 'show_description_transition');">
    Show task description again
</button>
<br>
<div class="description-card bg-light instructions" id="div-description">
    <div class="card card-body">
        <p>Two workers have to perform a task on a computer. They will be paid according to some payment scheme, which
           will be described in detail later. The task requires the workers to place a slider in the central position of
           a slider bar. The slider initially appears at the far-left position in the bar. One has to use the mouse to
           move the slider to the target position.
        </p>

        <strong>Initial position:</strong>
        <div class="aligncenter">
            <img src="{{ static 'payment_schemes_exp3/img/initial.png' }}" height="30"/>
        </div>

        <strong>Target position:</strong>
        <div class="aligncenter">
            <img src="{{ static 'payment_schemes_exp3/img/target.png' }}" height="34">
        </div>

        <p>The keyboard has been disabled in order to make the task sufficiently challenging. The task consists of 48
           sliders to be correctly placed. Placing 48 sliders within a time limit (described later) is called a round.
           The task is repeated for <strong>four</strong> rounds. The actual screen the workers have seen is like the
           following.
        </p>
        <img src="{{ static 'payment_schemes_exp3/img/screen.PNG' }}" height="470">
    </div>
</div>
<br>

{% next_button %}
{% endblock %}
